<launch>

  <node name="kf_applied_node" pkg="kf_applied" type="kf_applied_node" respawn="false" output="screen" launch-prefix="gdb -ex run">

    <!-- general -->
    <param name="wait_mode" type="double" value="1"/>

    <!-- bag topics -->
    <param name="topic_pose_gps" type="string" value="/kf_applied/pose_noise"/>
    <param name="topic_pose_gt" type="string" value="/kf_applied/pose_gt"/>

    <!-- bag parameters -->
    <param name="path_bag" type="string" value="/home/alericcardi/Workspaces/ws_kf/src/kalman_filter_applied/data/1610699596.bag"/>

    <!-- sensor noise values / update -->
    <rosparam param="gps_noise">[0.15, 0.15, 0.05]</rosparam>

  </node>


  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kf_applied)/rviz/kf_applied.rviz"/>

</launch>