<launch>
  <node name="simulator_node" pkg="kf_applied" type="simulator_node" respawn="false" output="screen">
    <!-- launch-prefix="gdb -ex run"> -->
    <!-- general -->
    <param name="wait_mode" type="double" value="1"/>

    <!-- Objs position -->
    <rosparam param="init_pose">[0, 0, 0]</rosparam>
    <rosparam param="init_pose_radar">[10, 0, 0]</rosparam>

    <!-- Sensor noise -->
    <rosparam param="noise_gps">[0.15, 0.15, 0.05]</rosparam>
    <rosparam param="noise_radar">[0.15, 0.001, 0.001]</rosparam>

    <!-- Sensors frequency -->
    <param name="frequency_gt" type="double" value="5"/>
    <param name="frequency_gps" type="double" value="1"/>
    <param name="frequency_radar" type="double" value="5"/>

    <!-- bag topics -->
    <param name="frame_id" type="string" value="global"/>
    <param name="topic_gt" type="string" value="/kf_applied/gt"/>
    <param name="topic_gps" type="string" value="/kf_applied/gps"/>
    <param name="topic_radar" type="string" value="/kf_applied/radar"/>

    <param name="topic_estimation" type="string" value="/kf_applied/estimation"/>

  </node>



  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kf_applied)/rviz/simulator.rviz" />
</launch>
